In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# Loading Train and Test data 
train_data = pd.read_csv('Data/train.csv')
test_data = pd.read_csv('Data/test.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Total survivors 
survived = train_data[train_data.Survived == 1]
not_Survived = train_data[train_data.Survived == 0]
print(f"Total survived: {len(survived)}/{len(train_data)}")

Total survived: 342/891

In [4]:
# Men vs Women 
women = train_data[train_data.Sex == 'female']
men = train_data[train_data.Sex == 'male']

women_survived = women[women.Survived == 1]
men_survived = men[men.Survived == 1]
print(f"Total Women survivors: {(len(women_survived)/len(women)) * 100}%\nTotal Men survivor: {(len(men_survived)/len(men)) * 100}%")

Total Women survivors: 74.20382165605095%
Total Men survivor: 18.890814558058924%

In [5]:
from sklearn.ensemble import RandomForestClassifier
# Train data 
y = train_data['Survived']
features = ["Pclass", "Sex", "SibSp", "Parch"]

X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X,y)

RandomForestClassifier(max_depth=5, random_state=1)

In [6]:
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Successfully saved!")

Successfully saved!

In [7]:
# Calculating Loss
final = pd.read_csv('Data/gender_submission.csv') # assuming all female passengers survived
loss = 0
for i in range(len(final)):
    if final['Survived'][i] == output['Survived'][i]:
        loss += 1

print(f"Accuracy: {(loss/len(final)) * 100}%")

Accuracy: 97.1291866028708%